
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  width:auto;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px;
    text-decoration: none;
 
}
.top {
  color: green;
  margin: 1px;
 }

.box{
  width: 250px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  display: inline-BLOCK;
 
 }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
